<div class="user-details">
 <h1> My Expertise </h1>
 <p> {{site.user_description}} </p>
</div>

<div class="user">
 
 <div class="tech">
  <h2>Projects</h2>
  <img src="{{ "/assets/img/github_logo.png" | prepend: site.baseurl }}" height="250">
  <p>
   developing exciting Open-Source projects like server-client android app in Java, 2 player console game in C++, API notification daemon in Linux, etc.<br>Also made forks and patches to existing projects like "Slstatus" and "Waybar" to add my new modules.
  </p>
 </div>
 
 <div class="tech">
  <h2>Problem Solving</h2>
  <img src="{{ "/assets/img/PS.png" | prepend: site.baseurl }}" height="250">
  <p>
   Problem Solving using C++ in different websites like Codeforces, LeetCode, AtCoder, etc.<br>Competitive Programming contests in ICPC (ECPC qualifications) and ICPC Assiut community in Assiut University.
  </p>
 </div>
 
 <div class="tech">
  <h2>Content Creator</h2>
  <img src="{{ "/assets/img/yt_logo.png" | prepend: site.baseurl }}" height="250">
  <p>
   Making videos on YouTube about Problem Solving, Linux, Programming, Computers, etc.
  </p>
 </div>
 
</div>
