<div class="user-details">
  <h1> Activities </h1>
</div>

<div class="user-activities">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/PS.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Problem Solving </h3>
<!--     <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p>
      Problem Solving using C++ in different websites like Codeforces, LeetCode, AtCoder, etc.<br>Competitive Programming contests in ICPC (ECPC qualifications) and ICPC Assiut community in Assiut University.
    </p>
  </div>

  <div class="user-activities">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/yt_logo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> YouTube Content Creator </h3>
    <p>
      Making videos on YouTube about Problem Solving, Linux, Programming, Computers, etc.
    </p>
  </div>
  
</div>
