<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Talabat-Lite.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Talabat-Lite </h3>
<!--     <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p>Talabat-Lite is a server-client application for android. It facilitates food, goods or medicines delivery and other services, connecting customers with local vendors and managing delivery personnel.<br>The server is written in C++ communicating with client over HTTP using crow (microframework for the web, uses routing similar to Python's Flask).
For database it uses SQLite C/C++ interface.</p>
    <a class="project-link" href="https://github.com/K-Triple-A/Talabat-Lite">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/COS.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> ChessOverSockets </h3>
    <p>Simple 2 player Chess console game connecting over sockets written in C++.<br>
Applying OOP concepts like Polymorphism and using Dynamic Memory Allocation.<br>
The game is offering 2 options, Search for players and Invite a player.<br>
Invites a player using his IP address and port number
or Listens to coming invites using the socket binding to a network interface.<br>
Detects win, lose, checkmate, chess rules, and most of draw cases.
    </p>
    <a class="project-link" href="https://github.com/abdalrahmanshaban0/ChessOverSockets">Check it out</a>
  </div>
</div>

  <div class="user-projects">
    <div class="images-right">
      <img alt="mountains" src="{{ "/assets/img/islamic_prayer_timings.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Islamic Prayer Timings </h3>
  <!--     <ul>
        <li> Featured Skills</li>
      </ul> -->
      <p>
        A daemon or service for notifying about Islamic prayers timings on Linux using an API from aladhan.com.<br>
        A patch for Slstatus (open-source status bar for Linux) in C that displays a timer for the next prayer time in the status bar.<br>
        A <a href="https://github.com/abdalrahmanshaban0/Waybar-with-prayer-timer">Waybar fork </a> with prayer timing module.
      </p>
      <a class="project-link" href="https://github.com/abdalrahmanshaban0/Islamic-Prayer-Timings">Check it out</a>
    </div>
</div>


  <div class="user-projects">
    <div class="images-left">
      <img alt="mountains" src="{{ "/assets/img/VLSM.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> IP Subnetting </h3>
  <!--     <ul>
        <li> Featured Skills</li>
      </ul> -->
      <p>Dividing the network into right sizes using both methods Traditional and VLSM for specified number of hosts in C++.</p>
      <a class="project-link" href="https://github.com/abdalrahmanshaban0/IP_addressing">Check it out</a>
    </div>
</div>

  <div class="user-projects">
    <div class="images-right">
      <img alt="mountains" src="{{ "/assets/img/sudoku.png" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> Sudoku Game </h3>
  <!--     <ul>
        <li> Featured Skills</li>
      </ul> -->
      <p>
        A simple GUI game written in C with GTK.<br>
        Choose level of game 6x6 or 9x9.<br>
        Detects win, lose, checkmate, chess rules and most of draw cases.<br>
        Fast solving algorithm using backtracking.<br>
        Every game is new and different because of randomization.
      </p>
      <a class="project-link" href="https://github.com/abdalrahmanshaban0/sudoku-game">Check it out</a>
    </div>
</div>
