<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/Talabat-Lite.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Talabat-Lite </h3>
<!--     <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p>Talabat-Lite is a server-client application for android. It facilitates food, goods or medicines delivery and other services, connecting customers with local vendors and managing delivery personnel.<br>The server is written in C++ communicating with client over HTTP using crow (microframework for the web, uses routing similar to Python's Flask).
For database it uses SQLite C/C++ interface.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
